<div class="container" *ngIf="expelab">
    <div class="row">
        <div>
            <form (ngSubmit)="modificar()" noValidate #f="ngForm">
                <div class="form-group">
                    <label for="lugar">Empresa</label>
                    <input type="text"class="form-control" id="lugar" name="lugar" [(ngModel)]="expelab.lugar" required>
                </div>
                <div class="form-group">
                    <label for="descrip">Descripción</label>
                    <input type="text"class="form-control" id="descrip" name="descrip" [(ngModel)]="expelab.descrip" required>
                </div>
                <div class="form-group">
                    <label for="inicio">Inicio de actividad</label>
                    <input type="text"class="form-control" id="inicio" name="inicio" [(ngModel)]="expelab.inicio" required>
                </div>
                <div class="form-group">
                    <label for="fin">Fin de actividad</label>
                    <input type="text"class="form-control" id="fin" name="fin" [(ngModel)]="expelab.fin" required>
                </div>
                <P></P>
                <button class="btn btn-info" >Modificar</button><button class="btn btn-info"routerLink="/">Cancelar</button>
            </form>
        </div>
    </div>
</div>

