<div class="row">
    <h1>Experiencia Laboral</h1>
    <div>
        <button type="button" class="btn btn-dark"routerLink="/nueva-expe">Agregar</button>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let experiencia of expe">
                <td>{{experiencia.lugar}}</td>
                <td>{{experiencia.descrip}}</td>
                
                <td>
                    {{experiencia.inicio}}    
                </td>
                <td>
                    {{experiencia.fin}}
                </td>
                <td><button class="btn btn-dark" routerLink="/editar-expe"> <i class="bi bi-pencil-fill"></i>modificar</button></td>
                <td><button class="btn btn-dark"><i class="bi bi-trash"></i>eliminar

                </button>
                    </td>
            </tr>
            <tr *ngFor="let experiencia of expe">
               
                </tr>

        </tbody>       
    </table>
    


</div>