<div class="row">
    <h1>Formación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primer estudio</h1>-<h3> (year)</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium maiores neque provident iste porro exercitationem sed voluptatem veniam tempore harum deserunt ad est quasi, earum architecto omnis non dicta! Maxime.</p>
            </li>
            <li>
                <h1>Segundo estudio</h1> - <h3>year</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium maiores neque provident iste porro exercitationem sed voluptatem veniam tempore harum deserunt ad est quasi, earum architecto omnis non dicta! Maxime.</p>
                
            </li>
        </ul>


    </div>
</div>