.row{
    padding: 10px;
}
div{
    background-color: #FFEBEE;
    /*text-align: justify;*/
}

@media(min-width: 576px){
    #fotoperfil{
        position: relative;
        border-radius: 70%;
        margin-top: -50%;
        width: 90%;
        margin-left:15%;

    }
    #nombre{
        margin-top: 45%;
        margin-left: -90%;
        font-weight: bold;
        font-style: italic;
        
    }
    #titulo{
        margin-left: -65%;
        font-weight: bolder;
    }
}
@media(max-width: 575px){
    #fotoperfil{
        position:relative;
        border-radius: 70%;
       
    }
    #nombre{
        
        
        font-weight: bold;
        font-style: italic;
        
    }
    #titulo{
        
        font-weight: bolder;
    }

}