<div class="row">
    <div class="container">
        <div class="logo-ap">
            <img src="../../../assets/APLogo-20-20.png" id="logoap">
        </div> 
        <div class="redsocial">
            <a href="https://www.facebook.com/"><img src="../../../assets/face.png" id="facebook"></a>
            <a href="https://www.twitter.com/"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/github.png" id="github"></a>
            <a href="/login"><button type="button" class="btn btn-outline-dark" >Login</button></a>
        </div>
        
        


    </div>
    <app-banner></app-banner>

</div>


<div>
    
    
    
    
</div>