<div class="container" *ngIf="skills">
    <div class="row">
        <div>
            <form (ngSubmit)="modificar()" noValidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text"class="form-control" id="nombre" name="nombre" [(ngModel)]="skills.nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text"class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skills.porcentaje" required>
                </div>
                <P></P>
                <button class="btn btn-info" >Modificar</button><button class="btn btn-info"routerLink="/">Cancelar</button>
            </form>
        </div>
    </div>
</div>

