
<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [subtitle]="'HTML'"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'#546E7A'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
            
        ></circle-progress>

    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="50"
            
            [radius]="100"
            [subtitle]="'CCS'"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [subtitle]="'ANGULAR'"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [subtitle]="'JAVASCRIPT'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [subtitle]="'BOOTSTRAP'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [subtitle]="'PYTHON'"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="25"
            [radius]="100"
            [subtitle]="'JAVA'"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>
    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [subtitle]="'GITHUB'"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>
    

    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [subtitle]="'INGLES'"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [subtitle]="'BBDD'"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [subtitle]="'TRABAJO EN EQUIPO'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [subtitle]="'RESPONSABILIDAD'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
        ></circle-progress>

    </div>


</div>
