
<div class="row">
    
    <div><h1>Hard & Soft Skills</h1> <p id="agregar"><button type="button" class="btn btn-dark"routerLink="/nuevo-skill">Agregar</button></p></div>
    
    <div *ngFor="let skill of skills" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <circle-progress  
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [subtitle]= "(skill.nombre)"
            [subtitleFontSize]="'2em'"
            [subtitleColor]="'#546E7A'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF33CC'"
            [innerStrokeColor]="'#FF99CC'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
            
        ></circle-progress>
        <tr id="boton">
            <button class="btn btn-dark" routerLink="/editar-skill/{{skill.id}}"> <i class="bi bi-pencil-fill" ></i></button> <button class="btn btn-dark"(click)= 'eliminar(skill.id)'><i class="bi bi-trash"></i></button>
        </tr>
             




    </div>
    