<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="crear()" noValidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text"class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="number"class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]=porcentaje required>
                </div>
                
                <button class="btn btn-info" >Agregar</button>
            </form>
        </div>
    </div>
</div>