.row{
    padding: 20px;
    background-color: #FFEBEE; 
    
}

.descripcion{
    display:inline-block;
    
}
.imagen{
    position: relative;
    display: inline-block;
    margin: 1em;
    
}
.img-proyecto{
    width: 80%;
    margin-left: 10%;
    
}
.btn{
    display: flex;  
    margin-right: 5px;
    float: right;
}