<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

  <div class="wrapper fadeInDown">
  <div id="formContent"> 
    <!-- Tabs Titles -->

    <!-- Icon -->
    
    <div class="fadeIn first">
      <img src="../../../assets/foto.jpg" id="icon" alt="User Icon" />
    </div>
    <p></p>

    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    
    
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="email"
      [(ngModel)]="email" required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password"[(ngModel)]="password" required>
      <p></p>
      <button type="submit"  class="btn btn-secondary btn-lg btn-lg">LOGIN</button>
    


    </form>

    
    <div><h4>Disfruta de la visita</h4></div>

  </div>
</div>

<!--


<div class="min-vh-100 container-fuild">
  <div class="tarjeta">
    <div class="row">
      <div class="texto">
        <h2>Bienvenidos a mi Portfolio</h2>
        <br />
        <h3>Inicia sesion para realizar cambios o ingresa como visitante</h3>

        <div class="col-md-12 col-lg-12 centrarForm">
          <div class="login">
            <div class="centrar">
              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <label class="form-label" for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control form-control-lg"
                  [(ngModel)]="email"
                  required
                />
                
                <label class="form-label" for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control form-control-lg"
                  [(ngModel)]="password"
                  required
                />
               
                <button class="boton" type="submit" >
                  Iniciar sesion
                </button>
                <a routerLink="/home" class="boton"> Entrar como Visitante</a>
              </form>

              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>
-->
